<h1>Chat room 1</h1>
<p>
  Hi, <%= current_user.first_name %>
</p>
<div id="clock"></div>
<ul id="chat">
  <%= render @messages %>
</ul>


<%= form_for Message.new, remote:true do |f| %>

  <%= f.text_field :text %><br />
  <%= f.submit "Send"%>
<% end %>

<%= subscribe_to "/messages/new" %>
